{{#each questions as |question|}}
  <p>Question: {{question.question}}</p>
  <p>Author: {{question.author}}</p>
  <button class='btn' {{action 'switchToUpdate' question}}>Update</button>
  <button class='btn' {{action 'deleteQuestion' question}}>Delete</button>
  <hr>
  {{answer-tile question=question answers=answers toggleAnswer='toggleAnswer' deleteAnswer='deleteAnswer'}}
  <p>------------------------------------------------------------------------</p>
{{/each}}
