<p>Comment: {{question.comment}}</p>
<hr>
{{#each question.answers as |answer|}}
<div class='col-md-9'>
  <p>Answer: {{answer.answer}}</p>
  <p>-{{answer.author}}</p>
  <p>{{answer-rating answer}}</p>
</div>
<div class='col-md-3'>
  <button class='btn' {{action 'deleteAnswer' answer}}>X</button>
  <span class="glyphicon glyphicon-star-empty estar" {{action 'rateAnswer' 1 answer}}></span>
  <span class="glyphicon glyphicon-star-empty estar" {{action 'rateAnswer' 2 answer}}></span>
  <span class="glyphicon glyphicon-star-empty estar" {{action 'rateAnswer' 3 answer}}></span>
  <span class="glyphicon glyphicon-star-empty estar" {{action 'rateAnswer' 4 answer}}></span>
  <span class="glyphicon glyphicon-star-empty estar" {{action 'rateAnswer' 5 answer}}></span>

  <!-- <span class="glyphicon glyphicon-star "></span> -->
</div>
<hr>
{{/each}}
