<div class='question'>
  <div class="col-md-12">
    <p>Question: {{question.question}} </p>
    <p>-{{question.author}}</p>
  </div>
  <div class="col-md-12">
    <button class='btn qbutton' {{action 'toggleUpdate' question}} >Update</button>
    <button class='btn qbutton' {{action 'deleteQuestion' question}}>Delete</button>
    <button class='btn qbutton' {{action 'showDetails' question}}>Show Answers</button>
    <button class='btn qbutton' {{action 'addToFavorite' question}}>Favorite</button>
    <hr>
  </div>
</div>
