<div class='row question'>

  <div class="col-md-4">
    <button class='btn btn-block qbutton' {{action 'toggleUpdate' question}} >Update</button>
    <button class='btn btn-block qbutton' {{action 'deleteQuestion' question}}>Delete</button>
    <button class='btn btn-block qbutton' {{action 'toggleAnswer' question}}>Answer</button>
    <button class='btn btn-block qbutton' {{action 'showDetails' question}}>More</button>
    <button class='btn btn-block qbutton' {{action 'addToFavorite' question}}>Add to favorites</button>
  </div>
  <div class="col-md-8">
    <p>Question: {{question.question}} </p>
    <p>-{{question.author}}</p>
    {{#if showDetails}}
    {{answer-tile question=question answers=answers toggleAnswer='toggleAnswer' deleteAnswer='deleteAnswer' saveRating='saveRating'}}
    {{/if}}
  </div>
</div>
<hr>
