<div class="question" {{action 'showDetails' question}}>
  <p>Question: {{question.question}}</p>
  <p>Asked By: {{question.author}}</p>
</div>
  <button class='btn' {{action 'switchToUpdate' question}}>Update</button>
  <button class='btn' {{action 'deleteQuestion' question}}>Delete</button>
  {{#if showDetails}}
  {{answer-tile question=question answers=answers toggleAnswer='toggleAnswer' deleteAnswer='deleteAnswer'}}
  <hr>
  {{/if}}
